* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 30vh;
    background: var(--bg);
}


/* Navbar container */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px;
}

/* Logo */
.logo {
    color: white;
    font-size: 22px;
    font-weight: bold;
}

.logo img {
    max-width: 100%;
    height: auto;
}


/* Nav links container */
.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-right: 30px;
}

/* Nav link items */
.nav-links li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
}

/* Hover effect */
.nav-links li a:hover {
    color: #00bcd4;
}

.theme-toggle {
    background: none;
    border: none;
    font-size: 15px;
    cursor: pointer;
    margin-left: 15px;
}

.notification {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    margin-left: 15px;

}

.profile {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
    margin-left: 15px;
}

:root {
    --bg: radial-gradient(circle at center, #ffffff 20%, #1afff9 90%);
    --text: #000000;
    --nav: #06233f;
}
.dark-theme {
    --bg: #020617;
    --text: #ffffff;
    --nav: #0f172a;
}

body {
    background: var(--bg);
    color: var(--text);
    transition: 0.3s;
}

.navbar {
    background-color: var(--nav);
}
.bot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
